a {
  color: green
}

a:hover {
  text-decoration: none
}

a.app-title {
  color: black
}

.messages .success {
  color: blue
}

#category-edit-group {
  margin: 1em auto auto auto
}

#category-edit-group label {
  margin: auto 0.5em auto auto
}

.hidden-categories, .warning-box {
  display: none
}

