a {
  color: green;
}

a:hover {
  text-decoration: none;
}

a.app-title {
  color: black;
}

#category-edit-group {
  margin: 1em auto auto auto;
}

#category-edit-group label {
  margin: auto 0.5em auto auto;
}

.warning-box {
  display: none;
}

.datetime {
  margin: 0.8em auto 0.8em auto;
  color: darkgray;
}

.attached-categories {
  margin: 0.6em auto 0.6em auto;
}

form {
  margin: 1.0em auto 1.0em auto;
}

