<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'todos/css/style.css' %}">
    <title>TodoList</title>
  </head>
  <body>

    <div class='container'>
    <header>
      <a class='app-title' href="{% url 'todos:index' %}"><h1>TodoList</h1></a>

      <div class="messages">
      {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
      {% endif %}
      </div>

      <a class='btn btn-success' href="{% url 'todos:add' %}">Add Todo</a>
      <a class='btn btn-outline-success' href="{% url 'todos:category/add' %}">Add Category</a>
      <hr>
    </header>

