{% include 'partials/header.html' %}

<h3>Category : {{category.name}}</h3>

<ul class='list-group'>
  {% for todo in todos %}
  <li class='list-group-item'>
    <a href="{% url 'todos:detail' todo.id %}">{{todo.title}}</a>
  </li>
  {% endfor %}
</ul>

<form action="{% url 'todos:category/delete' category.id %}" method="post">
  {% csrf_token %}
  <a class='btn btn-outline-secondary' href="{% url 'todos:category/update' category.id %}">Edit</a>
  <input class='btn btn-danger' type="submit" value="Delete" />
</form>

{% include 'partials/footer.html' %}

