{% url 'todos:category/details' category.id as gobackurl %}
{% include 'partials/header.html' with url_to_go_back=gobackurl %}

<h3>Edit Category</h3>

<div>
  <a class='btn btn-outline-success btn-sm' data-toggle='collapse' href='#category-list' role='button' aria-expanded='false' aria-controls='category-list'>Existing Category</a>
</div>
<div id='category-list' class='collapse'>
  <div class='existing-categories'>
    {% for c in categories %}
    <span class='badge badge-light category-{{c.name}}'>{{c.name}}</span>
    {% endfor %}
  </div>
</div>

<div class='warning-box'>
  <div class="alert alert-warning fade show" role="alert">
    That name already exists!
  </div>
</div>

<form id='add-category-form' action="{% url 'todos:category/update' category.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label><br>
    <input type="text" name="name" id="new-category-name" value='{{category.name}}'>
  </div>

  <div class="form-group">
    <hr>
    <input class='btn btn-primary' value='Submit' type="submit" disabled/>
  </div>
</form>

{% include 'partials/footer.html' %}
