{% include 'partials/header.html' %}

<h3>New Todo</h3>

<form action="{% url 'todos:add' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label><br />
    <input type="text" name="title" id="title" />
  </div>

  <div class="form-group">
    <label for="text">Text</label><br />
    <textarea name="text" id="text"></textarea>
  </div>

  <div class="form-group">
    <a class='btn btn-outline-success btn-sm' data-toggle='collapse' href='#category-edit-group' role='button' aria-expanded='false' aria-controls='category-edit-group'>Category</a>
  </div>
  <div id='category-edit-group' class='collapse'>
    <div class='badge badge-light'>
      {% for c in categories %}
      <input type='checkbox' value='{{c.id}}' name='category-select'>
      <label for='category-select'>{{c.name}}</label>
      {% endfor %}
    </div>
  </div>

  <div class="form-group">
    <hr>
    <input class='btn btn-primary' type="submit" value="Submit" />
  </div>
</form>

{% include 'partials/footer.html' %}
