{% include 'partials/header.html' %}

<form action="{% url 'todos:add' %}" method="post">
  {% csrf_token %}
  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" />
  <br>
  <label for="text">Text</label><br />
  <textarea name="text" id="text"></textarea>
  <br>
  <div>
    <a class='btn btn-outline-success btn-sm' data-toggle='collapse' href='#category-edit-group' role='button' aria-expanded='false' aria-controls='category-edit-group'>Category</a>
  </div>
  <div id='category-edit-group' class='collapse'>
    <div class='badge badge-light'>
      {% for c in categories %}
      <input type='checkbox' value='{{c.id}}' name='category-select'>
      <label for='category-select'>{{c.name}}</label>
      {% endfor %}
    </div>
  </div>
  <br><br>
  <input type="submit" value="Submit" />
</form>
<br>
<a href="{% url 'todos:index' %}">Go Back</a>

{% include 'partials/footer.html' %}
