{% include 'partials/header.html' %}

<a href="{% url 'todos:index' %}">Go Back</a>
<br>
<h3>{{todo.title}}</h3>
<p>{{todo.text}}</p>
<br>
Created at {{todo.created_at}}
<br><br>

<div>
  <div>Category:</div>
  {% for c in categories %}
  <a href='{% url "todos:category/detail" c.id %}' class='btn btn-light'>{{c.name}}</a>
  {% endfor %}
</div>

<hr>
<form action="{% url 'todos:delete' todo.id %}" method="post">
  {% csrf_token %}
  <a class='todos-edit btn btn-outline-secondary' href="{% url 'todos:update' todo.id %}">Edit</a>
  <input class='todos-delete btn btn-danger' type="submit" value="Delete" />
</form>

{% include 'partials/footer.html' %}
