{% url 'todos:detail' todo.id as gobackurl %}
{% include 'partials/header.html' with url_to_go_back=gobackurl %}

<h3>Edit Todo</h3>

<form action="{% url 'todos:update' todo.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label><br />
    <input type="text" name="title" id="title" value="{{todo.title}}"/>
  </div>

  <div class="form-group">
    <label for="text">Text</label><br />
    <textarea name="text" id="text">{{todo.text}}</textarea>
  </div>

  <div class="form-group">
    <a class='btn btn-outline-success btn-sm' data-toggle='collapse' href='#category-edit-group' role='button' aria-expanded='false' aria-controls='category-edit-group'>Categories</a>
  </div>
  <div id='category-edit-group' class='collapse'>
    <div class='badge badge-light'>
      {% for c in categories %}
      {% if c.0 %}
      <input type='checkbox' value='{{c.1.id}}' name='category-select' checked>
      {% else %}
      <input type='checkbox' value='{{c.1.id}}' name='category-select'>
      {% endif %}
      <label for='category-select'>{{c.1.name}}</label>
      {% endfor %}
    </div>
  </div>

  <div class="form-group">
    <hr>
    <input class='btn btn-primary' type="submit" value="Submit" />
  </div>
</form>

{% include 'partials/footer.html' %}
